
<html>
<head>
  <title>Formulário de Informações Pessoais</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <h1>Formulário de Informações pewqeq</h1>
  <a class="button" onclick="iniciarRobo()">Iniciar ROBÔ</a>
  

  <form method="POST">
    <div class="alert-box">
    <p>Atenção! Ao clicar no botão "Iniciar Robô", você está prestes a iniciar um programa de automação seguro.

      O nosso Robô de Processos Automatizados (RPA) irá realizar tarefas específicas para você, de forma precisa e eficiente. Neste caso, o robô irá abrir guias e preencher formulários, facilitando o seu trabalho.
      
      Gostaríamos de enfatizar que a segurança do seu uso é uma prioridade para nós. O robô foi projetado para trabalhar dentro de parâmetros estritamente definidos, seguindo regras pré-estabelecidas. Ele não acessará, modificará ou compartilhará qualquer informação além do que é necessário para executar as tarefas solicitadas.
      
      Adotamos medidas de segurança rigorosas para garantir que suas informações permaneçam protegidas durante todo o processo de automação. Todas as conexões são criptografadas e os dados são armazenados de forma segura.
      
      Portanto, sinta-se tranquilo ao utilizar o botão "Iniciar Robô" e deixe que ele facilite sua interação com os formulários e guias.
      
      Caso tenha alguma dúvida ou preocupação, estamos à disposição para esclarecê-las. Obrigado pela confiança em nosso sistema de automação!
      
      Atenciosamente,
      Pietro Dev</p>
  </div>
    <h2>Informações de Contato</h2>
    <label for="nome">Nome completo:</label>
    <input type="text" id="nome" name="nome" required>
    <br>

    <label for="data_nascimento">Data de nascimento:</label>
    <input type="date" id="data_nascimento" name="data_nascimento" required>
    <br>

    <label for="genero">Gênero:</label>
    <select id="genero" name="genero">
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
      <option value="outro">Outrossssssss</option>
    </select>
    <br>

    <label for="endereco">Endereço completo:</label>
    <textarea id="endereco" name="endereco" required></textarea>
    <br>

    <label  for="telefone" class="line typing">Número de2222222222222 telefone:</label>
    <input type="tel" id="telefone" name="telefone" required>
    <br>

    <label for="email">Endereço de e-mail:</label>
    <input type="email" id="email" name="email" required>
    <br>

    <h2>Informações de Emprego</h2>
    <label for="empresa">Nome da empresa:</label>
    <input type="text" id="empresa" name="empresa" required>
    <br>

    <label for="cargo">Cargo:</label>
    <input type="text" id="cargo" name="cargo" required>
    <br>

    <label for="endereco_trabalho">Endereço do local de trabalho:</label>
    <textarea id="endereco_trabalho" name="endereco_trabalho" required></textarea>
    <br>

    <label for="telefone_trabalho">Número de telefone do trabalho:</label>
    <input type="tel" id="telefone_trabalho" name="telefone_trabalho" required>
    <br>

    <label for="email_trabalho">E-mail do trabalho:</label>
    <input type="email" id="email_trabalho" name="email_trabalho" required>
    <br>

    <h2>Informações de Educação</h2>
    <label for="nivel_educacao">Nível de educação alcançado:</label>
    <select id="nivel_educacao" name="nivel_educacao" required>
    <option value="">Selecione o nível de educação</option>
    <option value="ensino_medio">Ensino Médio</option>
    <option value="graduacao">Graduação</option>
    <option value="pos_graduacao">Pós-Graduação</option>
    <option value="mestrado">Mestrado</option>
    <option value="doutorado">Doutorado</option>
    <option value="outro">Outro</option>
    </select>
    <br>


    <label for="instituicao_educacional">Nome da instituição educacional:</label>
    <input type="text" id="instituicao_educacional" name="instituicao_educacional" required>
    <br>

    <label for="curso">Curso de formação/graduação:</label>
    <input type="text" id="curso" name="curso" required>
    <br>

    <label for="ano_conclusao">Ano de conclusão:</label>
    <input type="number" id="ano_conclusao" required>
    
     <script>
    function iniciarRobo() {
      fetch('/iniciar-robo', { method: 'POST' });  // Chama a rota '/iniciar-robo' via POST
    }
    </script>
   
</body>
</html>

